@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

@import url('https://fonts.googleapis.com/css2? family = Abrir + Sans: wght @ 300 & display = swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topo {
    width: 100%;
    /*Define a largura de um elemento*/
    height: 60px;
    /*Define a altura de um elemento*/
    background-color: #f9003d;
}

.topo nav {
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.topo nav a {
    color: white;
    /*Define a cor*/
    text-decoration: none;
    /*Remove a decoração de um palavra/texto*/
    text-transform: uppercase;
    font-family: "Bebas Neue", cursive;
    font-size: 20px;
    padding: 16px 50px;

}

.topo nav a:hover {
    background-color: rgb(0, 0, 0);
    text-decoration: underline;
}

.topo nav ul {
    width: 90%;
    max-width: 600px;
    height: 60px;
    list-style-type: none;
    /*Remove os marcadores de texto*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#meusLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btnMenu {
    display: none;
}

.banner {
    width: 100%;
    height: 740px;
    background-image: url("../images/imagem-fundo-banner.jpg");
    background-size: cover;
}

.content {
    width: 95%;
    max-width: 1200px;
    height: 100%;
    /* background-color: rgba(204, 204, 204, 0.37); */
    margin: auto;
    display: flex;
    align-items: flex-end;
}

.alinhamento-inferior {
    display: flex;
    align-items: flex-end;
}

.alinhamento-centro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_text {
    width: 560px;
    height: 550px;
    /* background-color: blueviolet; */
}

.banner_text h1 {
    font-size: 96px;
    font-family: "Bebas Neue", cursive;
    color: #fff;
    border-bottom: solid 2px #ffaf00;
    padding-bottom: 20px;
}

.banner_text p {
    font-size: 54px;
    color: #f9003d;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: "Courier Prime", monospace;
}

.banner_text span {
    margin-left: 15px;
}

/*Sobre*/
.bk_sobre {
    width: 100%;
    height: 750px;
    background-color: #080324
}

.sobre {
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.sobre h2 {
    font-size: 64px;
    color: #f9003d;
    font-family: 'Bebas Neue', cursive;
    padding-top: 65px;
    padding-bottom: 65px;
}

.conteudo_sobre {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.conteudo_sobre img {
    width: 45%;
    max-width: 500px;
    min-width: 450px;
}

.texto_sobre {
    width: 600px;
    color: #fff;
}

.texto_sobre h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 64px;
    color: #ffaf00;
    line-height: 70px;
    margin-top: -30px;
    margin-bottom: 30px;
}

.tag {
    font-family: 'Courier Prime', monospace;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
}

.texto_sobre p {
    font-size: 18px;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-align: justify;
}

/* informações */
.bk_info {
    width: 100%;
    height: 200px;
    background-image: url("../images/imagem-fundo-info.jpg");
    background-size: cover;
}

.info {
    width: 90%;
    max-width: 1200px;
    height: 100%;
    /* background-color: rgba(255,255, 255, 0.253);s */
    margin: 0 auto;
    font-family: 'Courier Prime', monospace;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info_card h3 {
    color: #fff;
    font-size: 24px;
}

.info_card p {
    width: 270px;
    font-size: 28px;
    color: #A259F7;
    border: solid 1px #A259F7;
    text-align: center;
    padding: 1em 0;
}

.endereco {
    width: 100%;
    height: 500px;
    background-image: url(../images/imagem-fundo-ranking.jpg);
    background-size: cover;
    background-position: center;
}

.endereco h2 {
    font-size: 64px;
    font-family: 'Bebas Neue', cursive;
    color: #ffaf00;
}

.text_endereco {
    width: 800px;
    height: 210px;
    background-color: #010010;
    border: solid 2px #340b65;
    position: relative;
    display: flex;
    align-items: center;
}

.text_endereco p {
    color: #A259F7;
    font-size: 24px;
    margin-left: 20px;
    font-family: 'Courier Prime', monospace;
}

.text_endereco img {
    position: absolute;
    top: -80px;
    right: 20px;
}

.rodape {
    width: 100%;
    height: 80px;
    background-color: #f9003d;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #fff;
}

.zap {
    width: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

@media screen and (max-width: 1199px) {
    .topo nav {
        width: 80%;
    }

    .content {
        width: 80%;
    }

    .sobre {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bk_sobre {
        height: auto;
        padding-bottom: 4em;
    }

    .conteudo_sobre {
        flex-direction: column;
    }

    .conteudo_sobre img {
        width: 100%;
        max-width: 600px;
        margin-bottom: 2em;
    }

    .info_card p {
        width: 220px;
    }

    .endereco {
        height: auto;
        padding: 3em 0;
    }

    .text-endereco {
        width: 100%;
        max-width: 900px;
        height: auto;
        flex-direction: column;
        padding: 0 2em;
    }

    .text-endereco p {
        margin-left: unset;
        margin-bottom: 2em;
    }

    .text-endereco img {
        position: unset;
    }
}
/* Resolução de 576 até 767 */
@media screen and (max-width: 767px){

    .btnMenu{
        display: block;
    }
    .topo nav{
        width: 100%;
    }
    .topo nav ul{
        width: 100%;
        max-width: 100%;
        height: 350px;
        flex-direction: column;
        position: absolute;
        background-color: #000;
        top:60px;
        left: 0;

    }
    #meusLinks{
        display: none;
    }
    .banner_text h1{
        font-size: 60px;
    }

}
/* Resolução do 375 até 575 */
@media screen and (max-width: 575px){
    .banner_text h1{
        font-size: 50px;
    }
    .banner_text p{
        font-size: 40px;
    }
}
